<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <LWM_Minor_Changes>LWM's Minor Changes</LWM_Minor_Changes>
  <!-- Language data for the Mod Settings (see Settings.cs) -->
  <LWMMCsettingsWarning>IMPORTANT REMINDER: you MUST restart the game for changes to take effect</LWMMCsettingsWarning>
  <LWMMCsmelterIsHot>Smelter gives off heat</LWMMCsmelterIsHot>
  <LWMMCsmelterIsHotDesc>It takes a LOT of heat to smelt steel, and insulation on the Rim is lacking...\n\nRequires Restart to change!</LWMMCsmelterIsHotDesc>
  <LWMMCbigComputersAreHot>Computers get hot too.</LWMMCbigComputersAreHot>
  <LWMMCbigComputersAreHotDesc>Server rooms need giant air conditioning systems.  Are computers on the Rim somehow super efficient?  Ha.  High Tech Research Benches and multi-analyzers produce heat.\n\nRequires Restart to change!</LWMMCbigComputersAreHotDesc>
  <LWMMCapplyDrugDefaults>Penoxycyline defaults to 'take every 5 days.'</LWMMCapplyDrugDefaults>
  <LWMMCapplyDrugDefaultsDesc>If there are other drugs that should have this sort of default, let me know?\n\nRequires Restart to change!</LWMMCapplyDrugDefaultsDesc>
  <LWMMCallowMultiUnloading>Allow multilpe colonist Unloading</LWMMCallowMultiUnloading>
  <LWMMCallowMultiUnloadingDesc>If checked, colonists will more quickly unload animals: once a hauling colonist has taken something from the pack animal (or pack-person), they will allow another colonist to come get the next thing.\n\nThis does not necessarily mean faster unloading in all cases, but in some situations it can significantly speed things up.\n\nVery lightweight change.\n\nRequires Restart to change!</LWMMCallowMultiUnloadingDesc>
  <LWMMCbetterSpots>Better 'Spots.'</LWMMCbetterSpots>
  <LWMMCbetterSpotsDesc>Lets you place spots pretty much anywhere.\nWant to get married on thrones?  Sure!  In a cornfield?  Sure.  In the river?  Sure.  In the mud?  Sure.  In the lava?  Sur....okay, if you pawns cannot actually get there, then no.  This includes inside walls.  But you can put other spots inside walls and they will /probably/ work. Royalty Investitures might not; who knows.\nSpots affected:\n  Marriage Spot\n  Party Spot\n  Caravan Packing Spot\n  Trading Spot (any mod that uses the defName TradingSpot)\n\nRequires Restart to change!</LWMMCbetterSpotsDesc>
  <LWMMCselectNextAnimal>Use , and . hotkeys to move thru Animals too?</LWMMCselectNextAnimal>
  <LWMMCselectNextAnimalDesc>The , and . (or &lt; and &gt;) keys are the default keys to move through the Colonsits. But they only applied to colonists not to animals! Well, with this setting selected, they will cycle through your tamed animals or wild animals on the map as well!</LWMMCselectNextAnimalDesc>
  <LWMMCgeoPlantWalkable>Geothermal Plants are walkable (heat control)</LWMMCgeoPlantWalkable>
  <LWMMCgeoPlantWalkableDesc>Makes it so geothermal plants are walkable - this *really* changes how heat control with geothermal plants works\nYou can totally enclose a plant in walls and build doors in the walls - and the doors won't catch fire!\nVents can be used to funnel heat where you want more easily.\nA pawn can walk over the plant to build/remove roof from the center to help control heat levels.\nDISADVANTAGE: more of the heat is spread out in the room the plant is in, so you get less useable heat in some circumstances, because the geothermal plant's room is heated. (I have considered upping the heat produced by the plant but have not done that)\n\nREQUIRES RESTART TO CHANGE</LWMMCgeoPlantWalkableDesc>
  <LWMMCbeSilly>Add a few small silly things?</LWMMCbeSilly>
  <LWMMCbeSillyDesc>NOTE: you will have to restart for this to take effect!\n\nThese are small things that should not impact gameplay to any serious amount, but are fun and amusing.</LWMMCbeSillyDesc>
</LanguageData>
