<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <LWM_Minor_Changes>LWM's Minor Changes</LWM_Minor_Changes>
  <!-- Language data for the Mod Settings (see Settings.cs) -->
  <LWMMCsettingsWarning>IMPORTANT REMINDER: you MUST restart the game for changes to take effect</LWMMCsettingsWarning>
  <LWMMCsmelterIsHot>Smelter gives off heat</LWMMCsmelterIsHot>
  <LWMMCsmelterIsHotDesc>It takes a LOT of heat to smelt steel, and insulation on the Rim is lacking...\n\nRequires Restart to change!</LWMMCsmelterIsHotDesc>
  <LWMMCbigComputersAreHot>Computers get hot too.</LWMMCbigComputersAreHot>
  <LWMMCbigComputersAreHotDesc>Server rooms need giant air conditioning systems.  Are computers on the Rim somehow super efficient?  Ha.  High Tech Research Benches and multi-analyzers produce heat.\n\nRequires Restart to change!</LWMMCbigComputersAreHotDesc>
  <LWMMCapplyDrugDefaults>Penoxycyline defaults to 'take every 5 days.'</LWMMCapplyDrugDefaults>
  <LWMMCapplyDrugDefaultsDesc>If there are other drugs that should have this sort of default, let me know?\n\nRequires Restart to change!</LWMMCapplyDrugDefaultsDesc>
  <LWMMCallowMultiUnloading>Allow multilpe colonist Unloading</LWMMCallowMultiUnloading>
  <LWMMCallowMultiUnloadingDesc>If checked, colonists will more quickly unload animals: once a hauling colonist has taken something from the pack animal (or pack-person), they will allow another colonist to come get the next thing.\n\nThis does not necessarily mean faster unloading in all cases, but in some situations it can significantly speed things up.\n\nVery lightweight change.\n\nRequires Restart to change!</LWMMCallowMultiUnloadingDesc>
  <LWMMCbetterSpots>Better 'Spots.'</LWMMCbetterSpots>
  <LWMMCbetterSpotsDesc>Lets you place spots pretty much anywhere.\nWant to get married on thrones?  Sure!  In a cornfield?  Sure.  In the river?  Sure.  In the mud?  Sure.  In the lava?  Sur....okay, if you pawns cannot actually get there, then no.  This includes inside walls.  But you can put other spots inside walls and they will /probably/ work. Royalty Investitures might not; who knows.\nSpots affected:\n  Marriage Spot\n  Party Spot\n  Caravan Packing Spot\n  Trading Spot (any mod that uses the defName TradingSpot)\n\nRequires Restart to change!\n\nMay not be fully working in 1.4</LWMMCbetterSpotsDesc>
  <LWMMCselectNextAnimal>Use , and . hotkeys to move thru Animals too?</LWMMCselectNextAnimal>
  <LWMMCselectNextAnimalDesc>The , and . (or &lt; and &gt;) keys are the default keys to move through the Colonsits. But they only applied to colonists not to animals! Well, with this setting selected, they will cycle through your tamed animals or wild animals on the map as well!\n\nMay not be fulling working in 1.4</LWMMCselectNextAnimalDesc>
  <LWMMCgeoPlantWalkable>Geothermal Plants are walkable (heat control)</LWMMCgeoPlantWalkable>
  <LWMMCgeoPlantWalkableDesc>Makes it so geothermal plants are walkable - this *really* changes how heat control with geothermal plants works\nYou can totally enclose a plant in walls and build doors in the walls - and the doors won't catch fire!\nVents can be used to funnel heat where you want more easily.\nA pawn can walk over the plant to build/remove roof from the center to help control heat levels.\nDISADVANTAGE: more of the heat is spread out in the room the plant is in, so you get less useable heat in some circumstances, because the geothermal plant's room is heated. (I have considered upping the heat produced by the plant but have not done that)\n\nREQUIRES RESTART TO CHANGE</LWMMCgeoPlantWalkableDesc>
  <LWMMCbloodfeedOnPeopleWhoWant>Bloodfeeders bloodfeed on people who like it</LWMMCbloodfeedOnPeopleWhoWant>
  <LWMMCbloodfeedOnPeopleWhoWantDesc>There are several people who *like* to get chomped on by vampires (teenagers, emo parents, etc). In the game, there are people who revere bloodfeeders (needs Ideology) and some backstories (Thrall from More.Backstories by Ravinglegend) that have people as willing food for bloodfeeders. If these people are visiting the colony (e.g., quest lodgers, probably even caravaneers), then your bloodfeeders can chomp on them if this is set. Use your discretion - the bloodfeed ability is not automatic, right?\n\nNOTE: If there are more modded peoples who would want to get bitten, let me know!\n\nRestart required to take effect!</LWMMCbloodfeedOnPeopleWhoWantDesc>
  <LWMMCdoNotBreastfeedInBathrooms>Do not breastfeed in bathrooms (Dubs Bad Hygiene)</LWMMCdoNotBreastfeedInBathrooms>
  <LWMMCdoNotBreastfeedInBathroomsDesc>If you have babies and you have Dubs Bad Hygiene, your pawns will often go find a toilet to sit on while they breastfeed. Ew. Don't eat on the toilet. This makes it so people breastfeeding will find a more appropriate place.\n\nDefaults to not using toilets. You can turn this off if you want</LWMMCdoNotBreastfeedInBathroomsDesc>
  <LWMMCbetterPinholes>Solar Pinholes show burnout time</LWMMCbetterPinholes>
  <LWMMCbetterPinholesDesc>Shows time left on Solar Pinholes.\nShould also work with other modded Pinholes.\nNOTE: If something else should have this effect and doesn't? Let me know, I can patch it in.</LWMMCbetterPinholesDesc>
  <LWMMCfastAnimalSleepingSpots>Place Animal Sleeping Spots faster</LWMMCfastAnimalSleepingSpots>
  <LWMMCfastAnimalSleepingSpotsDesc>Instead of having to place Animal Sleeping Spots one at a time, you can draw big squares of them!\nRequires restart</LWMMCfastAnimalSleepingSpotsDesc>
  <LWMMCeasierCasting>Easier Casting (Mostly Psycasts)</LWMMCeasierCasting>
  <LWMMCeasierCastingDesc>Allows non-drafted pawns to cast many psycasts: Solar Pinhole, Pain Block, Etc\nAllows casting outside of immediate reach: if you select this, your pawns will walk towards the target and cast their psy-spells when they are finally in range.\nThis also allows queueing casting spells in multiple areas\nThis may have unintended consequences but I find it sooooo much easier to find my pawn who is cooking and queue Solar Pinhole for after they finish the job, and then I can ignore them and it'll work!  It's great! THIS makes Solar Pinhole worth it in cold areas.</LWMMCeasierCastingDesc>
  <LWMMCshowMeditationTypesWhenAssigningThrones>Show Meditation Types available on Throne Selection?</LWMMCshowMeditationTypesWhenAssigningThrones>
  <LWMMCshowMeditationTypesWhenAssigningThronesDesc>When selecting ownership for a throne, show what meditation types a given pawn has access too. For example, you might want to check who has natural types and not assign a rare throne to them. I spent over 3 hours writing this so I could tell which colonists needed thrones so they didn't walk halfway across the map to the Anima Tree. I'm sure it was a good way to spend my time and certainly the most efficient way to figure that out.</LWMMCshowMeditationTypesWhenAssigningThronesDesc>
  <LWMMCpollutionPumpsShowPollutionLeft>Show Amount of Pollution Left for removers?</LWMMCpollutionPumpsShowPollutionLeft>
  <LWMMCpollutionPumpsShowPollutionLeftDesc>Pollux trees and Pollution pumps will show how many cells of pollution are still left, along with an estimate of how long it will take to clean it all up</LWMMCpollutionPumpsShowPollutionLeftDesc>
  <LWMMCdifferentPollutionColor>Change color of Pollution Overlay</LWMMCdifferentPollutionColor>
  <LWMMCdifferentPollutionColorDesc>Lets you pick a new color and transparency! Updates in real time so you can decide what you like</LWMMCdifferentPollutionColorDesc>
  <LWMMCeasierConvert>Make Convert ability stronger(x2)</LWMMCeasierConvert>
  <LWMMCeasierConvertDesc>(Requires Ideology) The Moral Guide's "Convert" ability is kind of boring. It can be used to eventually convert someone, but it takes a lot of effort and attention. This makes it more fun for me!\nYou, of course, do you. Play your story however you want!</LWMMCeasierConvertDesc>
  <LWMMCcheaperFlagstone>Reduce cost of flagstone to 2</LWMMCcheaperFlagstone>
  <LWMMCcheaperFlagstoneDesc>I like the mod Cheaper Flagstone, but it hasn't been updated to work with all the mods I use. This application should work with most mods! I may remove this option when Cheaper Flagstone is updated</LWMMCcheaperFlagstoneDesc>
  <LWMMClabelPsycastLevels>Label Levels of Pyscasts</LWMMClabelPsycastLevels>
  <LWMMClabelPsycastLevelsDesc>This labels the NEUROTRAINERS with the level of the Psycast. Useful if you have 12 of them in some storage shelves and don't know which ones your new 4th level psycaster can use</LWMMClabelPsycastLevelsDesc>

  
  <LWMMCNukeFactionData>Clear Faction Data for Doors? (Real Ruins)</LWMMCNukeFactionData>
  <LWMMCNukeFactionDataDesc>This applies to the current map and is only relevant to Real Ruins - it makes it so your colonists can actually go through the abandoned doors! I have no idea if it's safe to use anywhere else. Recommended to use when you first enter a map with Ruins - at your own risk!\nNote: some doors are just stuck and still won't unlock</LWMMCNukeFactionDataDesc>
  <LWMMCbeSilly>Add a few small silly things?</LWMMCbeSilly>
  <LWMMCbeSillyDesc>NOTE: you will have to restart for this to take effect!\n\nThese are small things that should not impact gameplay to any serious amount, but are fun and amusing.</LWMMCbeSillyDesc>
  
</LanguageData>
